/* DEN HÄR FILEN INNEHÅLLLER STYLING SOM ENBART RÖR BOKABORD-SIDAN. 
För allmän styling som typsnitt och färger som rör hela websidan, 
gå till main.css */


input[type="text"] {
    width: 50%;
    color: #e3b79a;
    font-size: 14px;
  
    border-style: none;
  }
  
  input[type="text"]:focus {
    border-style: 1px #e3b79a;
  }
  
  form button {
    border-style: none;
    font-size: 16px;
    padding: 10%;
  }
  