* {
  box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    background-color: seashell;
  }

  .intro{
      background-color: white;
      width: 200px;
  }

/* sabina css */
.meny{
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
  }

.mat  {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

.container-fluid{
  background: aquamarine;
}

.bootstrapdiv{
  background-color: white;
}
/* sabina css */

/* ellinor css*/


/* ellinor css*/


/* thumandi css*/


.firstpage-container{
  background-color: none;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/25/02/57/japans-1618622_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  min-height: 90vh;
}

.firstpage-container h1{
  text-align: center;
}

.firstpage-container p{
text-align: center;
}

.icon-field{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.icon{
  width: 10vw;
  align-items: center;
}



/* thumandi css*/