* {
  box-sizing: border-box;
  font-family: futura;
  color: rgb(85, 85, 85);
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255) !important;
    padding: 4%;
  }

  .intro{
      background-color: white;
      width: 200px;
  }


/* navigationsmenyn alla sidor */
/*Här visste vi inte riktigt hur vi skulle göra för att få properties att gälla på bootstrap sidan annat än att använda !important
trots att det antagligen finns ett annat sätt och inte behöver vara en last resort, vi visste bara ej hur*/
nav {
  display: block !important;
  float: none !important;
    text-align: center !important;
    padding: 5% !important;
    font-size: 18px !important;
    font-weight: lighter !important;
    text-transform: uppercase !important;
    color: rgb(85, 85, 85) !important;
}

a {
  padding: 3%;
  text-decoration: none;
  color: rgb(85, 85, 85);
}

a:hover {
  color: grey !important;
}

a.active {
  text-decoration: underline !important;
}

/* footer alla sidor */

footer {
  margin-top: auto;
  margin-bottom: 3px;
  width: 100%;
  text-align: center;
  
}

.footerText {
  font-size: small;
  padding: 0%;
}



/* sabina css */
.meny{
    display: flex;
    flex-direction: row;
  }

.mat  {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

.container-fluid{

}

.menucategory{
  text-align: center;
  padding-top: 3rem;
}

.bootstrapdiv{
  background-color: white;
  text-align: center;
}

.itemone{
  background-image:url(.../img/menu/1.jpg);
}

/* sabina css */



/* ellinor css*/

form {
  padding: 2%;
}

fieldset {
  padding: 4%;
}

label {
  font-size: 18px;
}

placeholder {
  font-size: 18px;
}

select {
  font-size: 14px;
}

input[type="text"] {
    width: 50%;
    color: #e3b79a;
    font-size: 18px;
  }
  
  input[type="tel"] {
    width: 50%;
    color: #e3b79a;
    font-size: 18px;
  }

  input[type="text"]:focus {
    border-style: 1px #e3b79a;
  }
  
  input[type="tel"]:focus {
    border-style: 1px #e3b79a;
  }

  i.material-icons {
    width: 18px;
  }

  #boka {
    border-style: none;
    font-size: 20px;
    padding: 1%;
  }

  #boka:hoover {
    background: gray;
  }

.avbokningsinfo {
  font-size: small;
}


/* thumandi css*/


.firstpage-container{
  display: flex;
  justify-content: center;
  background-color: none;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/25/02/57/japans-1618622_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  min-height: 90vh;
}

h3{
    text-align: center;
}

.firstpage-container h1,
.firstpage-container p{
  text-align: center;
}

.firstpage-container h1 span{
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  padding: 10px 15px 10px 15px;
}

.firstpage-container p span{
  background-color: rgba(220, 0, 41, 0.7);
  color: white;
  padding: 2px 10px 2px 10px;
}

.firstpage-container a{
  color: white;
  padding: 0px;
  text-decoration: underline;
}

.firstpage-container a:hover{
  background-color: rgb(0, 0, 0, 0.7);
  text-decoration: none;
  padding: 2px 0px 2px 0px;
}

.firstpage-container a.active{
  text-decoration: none;
}

.icon-field{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.icon{
  width: 10vw;
  align-items: center;
}


.navigation-class a {
  padding: 3%;
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.navigation-clas a:hover {
  color: grey;
}

.navigation-clas a.active {
  text-decoration: underline;
}


/* thumandi css*/